/* Header */

header,
footer {
  background-color: #f9f9f9;
}

.header__content {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 20rem;
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3rem;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}

.header__info-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.header__links {
  display: flex;
  gap: 1.2rem;
}

.header__link {
  color: #7e8292;
}

.header__link:hover,
.header__link:focus {
  color: inherit;
}

/* Main */

.main {
  min-height: calc(100vh - 20rem);
}

/* Footer */

.footer__content {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* @MEDIA */

@media (max-width: 1439px) {
  .header__logo {
    max-width: 15rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  .header__content {
    flex-direction: column;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    gap: 2.4rem;
  }

  .header__info {
    align-items: center;
  }

  .main__meme {
    width: 34.3rem;
  }
}

@media (max-width: 374px) {
  .main__meme {
    width: 100%;
  }
}
