@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #191b2a;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: unset;
}

a,
button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin-right: auto;
  margin-left: auto;
}
