@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #191b2a;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: unset;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

li {
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 144rem;
  padding-left: 12rem;
  padding-right: 12rem;
  margin-right: auto;
  margin-left: auto;
}

/* @MEDIA */

@media (max-width: 1439px) {
  .container {
      max-width: 37.5rem;
      padding-right: 1.6rem;
      padding-left: 1.6rem;
  }
}